.grid-container {
    display: inline-grid;
    border: 1px solid black;
    grid-gap: 1px;
    background-color: black;
    font-family: Verdana, sans-serif;
    color: #333;
}

.grid-square {
    width: 25px;
    height: 28px;
    background-color: white;
    font-size: 18px;
    position: relative;
    text-align: center;
    overflow: hidden;
    user-select: none;
}

.grid-square-black {
    background-color: black;
    width: 25px;
    height: 28px;
}
.grid-square-selected {
    border: 2px solid darken(skyblue, 30%);
    .grid-content { padding-top: 1px; }
    .grid-number { left: -1px; top: -3px }
}
.grid-square-black-selected {
    border: 2px solid darken(skyblue, 30%);
}
.grid-square-selected-word {
    border: 2px solid lighten(skyblue, 10%);
    .grid-content { padding-top: 1px; }
    .grid-number { left: -1px; top: -3px }
}
.grid-square-error-word {
    background-color: lighten(indianred, 20%);
}
.grid-square-error-crossing {
    background-color: lighten(indianred, 30%);
}
.grid-square-constrained-1 {
    background-color: #eee;
}
.grid-square-constrained-2 {
    background-color: #ddd;
}
.grid-square-constrained-3 {
    background-color: #ccc;
}
.grid-square-constrained-4 {
    background-color: #bbb;
}
.grid-square-constrained-5 {
    background-color: #aaa;
}

.grid-number {
    font-size: 9px;
    position: absolute;
    left: 1px;
    top: -1px;
    text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white;
}

.grid-content {
    padding-top: 3px;
    color: black;
}
.grid-content-chosen-fill {
    color: steelblue;
}
.grid-content-lively {
    color: seagreen;
}
.grid-content-normal {
    color: lighten(black, 50%);
}
.grid-content-crosswordese {
    color: darkgoldenrod;
}
.grid-content-iffy {
    color: sienna
}
.grid-content-crosswordese {
    color: tomato;
}

.grid-content-rebus {
    font-size: 8px;
    padding-top: 9px;
}
.grid-square-circled {
    width: 25px;
    height: 28px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    border-radius: 50%/50%;
    border: 1px solid black;
}

.puzzle-title {
    display: inline-block;
    color: #444;
    font-size: 20px;
    margin-bottom: 4px;
}
.puzzle-author, .puzzle-author-by {
    display: inline-block;
    color: #666;
    font-size: 18px;
}
.puzzle-author-by {
    margin-left: 10px;
}
.puzzle-copyright {
    margin-top: -8px;
    margin-bottom: 8px;
}
.puzzle-notes-label {
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0 -2px 0;
}
.puzzle-notes {
    font-size: 14px;
}

.editable:hover {
    background-color: #ddd;
}