.clues-view {
    text-align: center;
}

.clues-container {
    width: 325px;
    display: inline-block;
    height: 725px;
    margin: 0 20px;
    vertical-align: top;
}

.clues-header {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
    width: 325px;
}

.clues-clues {
    column-count: 2;
    column-gap: 20px;
    text-align: left;
}

.clue {
    font-size: 12px;
    padding: 2px 0;
    display: inline-block;
    cursor: pointer;
    width: 100%;
}

.clue:hover {
    background-color: #ddd;
}

.clue-number {
    font-size: 11px;
    font-weight: bold;
    margin-right: 5px;
    float: left;
    padding-top: 0.5px;
}

.clue-entry {
    float: left;
    font-weight: bold;
    margin-right: 5px;
}

.clue-editor {
    width: 160px;
    font-size: 12px;
    padding: 0;
    height: 60px;
}

.clue-selected {
    background-color: lightblue;
}
