.fill-container {
    display: inline-block;
    position: relative;
}

.symmetry-select {
    display: inline-block;
    width: 100px;
}

.fill-lists {
    position: absolute;
    top: 0px;
    left: 180px;
    width: 575px;
}

.fill-list-box {
    display: inline-block;
    width: 270px;
    height: 360px;
    margin: 0 5px;
    margin-bottom: 7px;
    padding: 0 5px;
    vertical-align: top;
    border: 1px solid #ccc;
}

.fill-list-title {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}

.fill-list-button {
    float: right;
    border: 1px solid black;
    font-size: 14px;
    padding: 0 5px;
    cursor: pointer;
    background-color: #ddd;
    margin-top: 5px;
}
.fill-list-button:hover {
    background-color: #bbb;
}

.fill-add-word-box {
    font-size: 14px;
}

.fill-list {
    background-color: white;
    width: 268px;
    max-height: 325px;
    margin-top: 9px;
    margin-left: -5px;
    font-size: 10px;

    display: inline-grid;
    font-family: Verdana, sans-serif;
    color: #333;
    overflow-y: auto;
}

.fill-list-header {
    font-weight: bold;
    padding: 0 2px;
}

.fill-list-row-wrapper {
    display: contents;
    cursor: pointer;
}
.fill-list-row-wrapper > div {
    padding: 0 2px;
}
.fill-list-row-wrapper:hover > div {
    background-color: lightblue;
}

// https://stackoverflow.com/questions/55593229/increasing-the-size-of-a-bootstrap-checkbox
.custom-control-label::before ,.custom-control-label::after {
    width:20px; 
    height:20px
}