html, body {
    font-family: "Segoe UI", sans-serif;
}

.left-panel {
    display: inline-block;
    width: 760px;
    height: 100%;
    padding: 10px;
    vertical-align: top;
}

.right-panel {
    display: inline-block;
    position: absolute;
    padding: 10px;
}